# re-read-init-file (C-x C-r)
#"\e[1~": beginning-of-line
#"\e[4~": end-of-line
#"\e[3~": delete-char
$include /etc/inputrc
#Home: beginning-of-line
#End: end-of-line
#DEL: delete-char
#C-Left: backward-word
#C-Right: forward-word
## mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
## @see http://askubuntu.com/questions/53556/strange-characters-appearing-when-i-use-the-ctrl-and-arrow-keys-to-navigate
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
set horizontal-scroll-mode off
